*.pyc
*.sublime-*
*.so
pyBadlands.egg-info/
*.mod
Examples/.ipynb_checkpoints/
*.swp
*.hdf5
*.xmf
*.xdmf
.ipynb_checkpoints
build/
output_*
output/
.AppleDouble
__MACOSX
.DS_Store
*.dSYM
doc/_build/
tags
doc/env/
