*.pyc
*.sublime-*
*.so
badlands.egg-info/
*.mod
*.o
*.swp
*.hdf5
*.xmf
*.xdmf
.ipynb_checkpoints
build/
output_*
output/
.AppleDouble
__MACOSX
.DS_Store
*.dSYM
dist/
docs/_build/
tags
docs/env/
*.egg
*.gz
